<ion-view view-title="Connexion">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Adresse email</span>
                <input type="email" placeholder="Adresse email" ng-model="form.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Mot de passe</span>
                <input type="password" placeholder="Mot de passe" ng-model="form.password">
            </label>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="login(form)">
                    Se connecter
                </button>
            </div>
            <div class="padding">
                <p class="text-center">
                    Pas encore de compte ? <a ui-sref="register">Inscrivez-vous</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>