<ion-view view-title="Pièces">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right">
                <h2>Coucou</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias commodi corporis cumque deleniti, dolorem dolorum ducimus est facilis ipsam, necessitatibus quo ratione recusandae reiciendis tempora, veritatis voluptates voluptatibus voluptatum.</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
