<ion-view view-title="Tâches">
    <ion-content class="padding">
        <ion-list>
            <div class="card" ng-repeat="task in tasks">
                <div class="item item-divider">
                    {{task.room.name}}
                </div>
                <div class="item item-text-wrap item-button-right">
                    {{task.name}} <br>
                    {{task.description}}
                    <button class="button button-positive padding">
                        <i class="icon ion-checkmark-round"></i>
                    </button>
                </div>
                <div class="item item-divider">
                    5h restantes
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>

